# Python cache fajlovi
__pycache__/
*.pyc

# Virtuelno okruženje (ako bi neko slučajno napravio)
venv/
env/

# PyInstaller privremeni folderi (samo ako bi neko lokalno build‑ovao)
build/
dist/

# Log fajlovi i privremeni fajlovi baze
*.log
*.db-journal

# OS specifični fajlovi
.DS_Store
Thumbs.db
